
.container {
    /* max-width: 800px; */
    padding: 20px;
    /* width: calc(100% - 24px); */
    margin: 24px 12px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #004aad;
    margin-bottom: 20px;
}
h2 {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
}
p {
    margin-bottom: 15px;
}
ul {
    margin-bottom: 15px;
    padding-left: 20px;
}
a {
    color: #f02500;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}